<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wh</key>
	<dict>
		<key>x</key>
		<integer>311</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>36</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>432</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>x</key>
		<integer>32</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>24</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>am</key>
	<dict>
		<key>x</key>
		<integer>63</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>154</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>94</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>114</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>em</key>
	<dict>
		<key>x</key>
		<integer>125</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>243</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>x</key>
		<integer>156</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>249</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>x</key>
		<integer>187</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>204</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>im</key>
	<dict>
		<key>x</key>
		<integer>218</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>333</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>x</key>
		<integer>249</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>21</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>x</key>
		<integer>280</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>65</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>339</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>ng</key>
	<dict>
		<key>x</key>
		<integer>348</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>36</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>381</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>x</key>
		<integer>385</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>69</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>om</key>
	<dict>
		<key>x</key>
		<integer>416</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>199</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>x</key>
		<integer>447</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>384</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>x</key>
		<integer>478</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>429</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>x</key>
		<integer>509</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>294</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>x</key>
		<integer>540</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>159</integer>
		<key>offsetY</key>
		<integer>233</integer>
	</dict>
	<key>um</key>
	<dict>
		<key>x</key>
		<integer>571</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>288</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>x</key>
		<integer>602</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>30</integer>
		<key>h</key>
		<integer>30</integer>
		<key>offsetX</key>
		<integer>110</integer>
		<key>offsetY</key>
		<integer>278</integer>
	</dict>
</dict>
</plist>
