<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>wh</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>am</key>
	<dict>
		<key>x</key>
		<integer>127</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>x</key>
		<integer>190</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>em</key>
	<dict>
		<key>x</key>
		<integer>253</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>x</key>
		<integer>316</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>x</key>
		<integer>379</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>im</key>
	<dict>
		<key>x</key>
		<integer>442</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>x</key>
		<integer>505</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>x</key>
		<integer>568</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>x</key>
		<integer>631</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>ng</key>
	<dict>
		<key>x</key>
		<integer>694</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>x</key>
		<integer>757</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>om</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>x</key>
		<integer>883</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>x</key>
		<integer>946</integer>
		<key>y</key>
		<integer>1</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>x</key>
		<integer>1</integer>
		<key>y</key>
		<integer>65</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>x</key>
		<integer>64</integer>
		<key>y</key>
		<integer>65</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>um</key>
	<dict>
		<key>x</key>
		<integer>127</integer>
		<key>y</key>
		<integer>65</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>x</key>
		<integer>190</integer>
		<key>y</key>
		<integer>65</integer>
		<key>w</key>
		<integer>62</integer>
		<key>h</key>
		<integer>63</integer>
		<key>offsetX</key>
		<integer>0</integer>
		<key>offsetY</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
